fastapi
uvicorn[standard]
python-multipart
torch
pillow
pyngrok
# LAVIS itself should be installed with:
# pip install --no-deps salesforce-lavis
omegaconf
timm
fairscale
iopath
decord
webdataset
pycocotools
pycocoevalcap
transformers==4.38.2
accelerate
sentencepiece
